/* You can add global styles to this file, and also import other style files */

:root {
  --main_color_1: #ffc500; /*  var(--main_color_1) */
  --main_color_2: #2f2c37; /*  var(--main_color_2) */
  --sub_color_3: #c4c4c4; /*  var(--sub_color_3) */
  --sub_color_4: #f4f4f4; /*  var(--sub_color_4) */
  --sub_color_5: #f8f8f8; /*  var(--sub_color_5) */

  --width_: 1280px; /*  var(--width_) */
  --font_: 15px; /*  var(--font_) */
}

/* font style */
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

code {
  font-weight: 300;
  font-size: 15px;
}
h1 {
  font-size: 54px;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  text-transform: uppercase;
}
h3 {
  font-size: 32px;
  text-transform: uppercase;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
}

.gs_font_l {
  font-weight: 100;
  font-size: 15px;
}

.gs_font_s {
  font-size: 18px;
}
.gs_font_bold {
  font-weight: 700;
  font-size: 24px;
}
.gs_font_cation {
  font-size: 12px;
}
