<dialog open class="dialogBox" open class="dialogBox" [ngClass]="{ hidden: isHidden }">

    <div class="LoginBox">
        <div class="closeContainer" (click)="hide()">
            <div class="closeBox">X</div>
        </div>

        <span class="loginSpan">LOGIN</span>
        <article class="inputBox">
            <input (change)="takeIdFn($event)" class="inputElement" type="text" placeholder="   ID">
            <input (change)="takePwFn($event)" class="inputElement" type="password" placeholder="   PASSWORD">

        </article>

        <form method="dialog">
            <button class="loginBtn" (click)="hide()">LOGIN</button>
        </form>
        <button class="forgetBtn">Forget password?</button>
    </div>

</dialog>