<dialog open class="dialogBox">
    <div class="closeBox">X</div>
    <div class="LoginBox">
        <span class="loginSpan">LOGIN</span>
        <article class="inputBox">
            <input class="inputElement" type="text" placeholder="   ID">
            <input class="inputElement" type="text" placeholder="   PASSWORD">
        </article>

        <form method="dialog">
            <button class="loginBtn" (click)="loginFn()">LOGIN</button>
        </form>
        <button class="forgetBtn">Forget password?</button>
    </div>
</dialog>