<div class="gs_main_box_6">
    <div class="gs_contact_6_curver">　</div>
    <div class="gs_main_box_6_inner">
        <div class="gs_contact_6">
            <div class="gs_news_title">
                <h2>NEWS</h2>
            </div>
            <div class="gs_news_con">
                <ul>
                    <li>
                        <p class="img_link"><img src="img/Rectangle_18.png"></p>
                        <!-- 주석자리 -->
                        <h4>브릿지앤브릿지, 중소기업 상생 종합 플랫폼 출시</h4>
                        <span>브릿지앤브릿지(Bridge & Bridge) 김병복 대표는 그동안 심혈을 기울여 준비해 온 중소기업과 소상공인을 대상으로 하는 종합 플랫폼 서비스를 오픈한다고
                            밝혔다. </span>
                        <p class="more_link">더보기</p>
                        <!-- 주석자리 -->
                    </li>
                    <li>
                        <p class="img_link"><img src="img/Rectangle_18.png"></p>
                        <!-- 주석자리 -->
                        <h4>브릿지앤브릿지, 중소기업 상생 종합 플랫폼 출시</h4>
                        <span>브릿지앤브릿지(Bridge & Bridge) 김병복 대표는 그동안 심혈을 기울여 준비해 온 중소기업과 소상공인을 대상으로 하는 종합 플랫폼 서비스를 오픈한다고
                            밝혔다. </span>
                        <p class="more_link">더보기</p>
                        <!-- 주석자리 -->
                    </li>
                    <li>
                        <p class="img_link"><img src="img/Rectangle_18.png"></p>
                        <!-- 주석자리 -->
                        <h4>브릿지앤브릿지, 중소기업 상생 종합 플랫폼 출시</h4>
                        <span>브릿지앤브릿지(Bridge & Bridge) 김병복 대표는 그동안 심혈을 기울여 준비해 온 중소기업과 소상공인을 대상으로 하는 종합 플랫폼 서비스를 오픈한다고
                            밝혔다. </span>
                        <p class="more_link">더보기</p>
                        <!-- 주석자리 -->
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>