<footer id="gs_layout_footer">
    <div class="footinner">
        <div class="gs_footer_logo">
            <img class="footer-img" src="img/logo_w.png" />
        </div>
        <div class="gs_footer_detail">
            <ul>
                <li><span>대표: 홍길동</span></li>
                <li><span>사업자등록번호 : 000-00-00000</span></li><br />
                <li><span>주소 : 서울시 영등포구</span></li><br />
                <li><span>이메일: 000000@gmail.com</span></li>
                <li><span>TEL : 02- 000 - 0000</span></li>
                <li><span>FAX : 02 - 000 - 0000</span></li>
            </ul>
            <div class="gs_footer_copyright">
                <span>copyright 로고. All right RESERVED.</span>
            </div>
        </div>
        <ul class="gs_footer_util">
            <li>이용약관</li>
            <li>개인정보처리방침</li>
        </ul>
    </div>
</footer>