.box {
  margin: 10px auto;
}
.imgBox {
  display: flex;
  justify-content: center;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crouselSpan {
  margin-left: 47%;
}
