<section>
  <span class="crouselSpan">지원 바우처</span>

  <ngb-carousel #staticCarousel [interval]="100000" [wrap]="false">
    <ng-template ngbSlide>
      <div class="imgBox">

        <article class="boxContainer">
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
        </article>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="imgBox">
        <article class="boxContainer">
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
          <div class="box">
            <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
          </div>
        </article>
      </div>
    </ng-template>

  </ngb-carousel>
</section>