<ngb-carousel #staticCarousel [interval]="100000" [wrap]="false">
  <ng-template ngbSlide>
    <div class="imgBox">


      <div class="box" style="padding-top: 10px;">
        <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;">
        <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;">
        <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;"> <img src="../../../assets/Rectangle 50.jpg"
          alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;"> <img src="../../../assets/Rectangle 50.jpg"
          alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;"> <img src="../../../assets/Rectangle 50.jpg"
          alt="Random first slide" />
      </div>


    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="imgBox" style="display: flex; flex-wrap: wrap; width: 80%; justify-content: center;">

      <div class="box" style="padding-top: 10px;">
        <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;">
        <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;">
        <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;"> <img src="../../../assets/Rectangle 50.jpg"
          alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;"> <img src="../../../assets/Rectangle 50.jpg"
          alt="Random first slide" />
      </div>
      <div class="box" style="padding-top: 10px;"> <img src="../../../assets/Rectangle 50.jpg"
          alt="Random first slide" />
      </div>

    </div>
  </ng-template>

</ngb-carousel>