article {
  margin-left: 240px;
}
.textArticle {
  display: flex;
  flex-direction: column;
  left: -20%;
}
.titleImg {
  overflow-x: hidden;
}
.tosImg {
  position: absolute;
  object-fit: cover;
  width: 1900px;
  height: 300px;
}
.tosImg2 {
  position: absolute;
  width: 1900px;
  height: 300px;
  background-color: black;
  opacity: 0.4;
}
.articles {
  margin-top: 17%;
  margin-bottom: 50px;
}
.imgTitle {
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  left: 46%;
  top: 200px;
  color: white;
}

.textTitle {
  font-weight: 400;
  font-size: 18px;
  height: 26px;
  margin-top: 20px;
}
.textcontents {
  min-height: fit-content;
  min-width: fit-content;
  font-weight: 300;
  font-size: 12px;
  color: #2f2c37;
  margin-bottom: 20px;
}

.lines {
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
  margin-top: 20px;
}
