<section>
    <div>
        <span>공지사항</span>
        <div>
            <input type="text" placeholder="Search" />
        </div>
    </div>
    <article>
        <ul>
            <li *ngFor="let item of temp1">
                <span>번호:{{ item.productId }}</span>

                <span routerLink="${{ item.productId }}">제목:{{ item.productRank }} 제목입니다</span>

                <span>내용:{{ item.productId }} 내용입니다</span>
            </li>
        </ul>
    </article>
    <button>글쓰기</button>
</section>